@import 'normalize';
@import 'vars';
@import 'dashboard';
@import 'runs';
@import 'data';


*, *:before, *:after {
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1; /* ie 6/7 */
}
